/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Global*/
body, html{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #eeeeee;
}

a{
  font-weight: bold;
  color: #23a4cc;
  text-decoration: none;
}

p{
  font-size: 1rem;
  line-height: 1.4rem;
}

p span{
  font-weight: bold;
}

h1{
  font-size: 2.3rem;
}

h2{
  font-size: 1.9rem;
}

h3{
  font-size: 1.5rem;
}

.btn{
  background-color: #ff1256;
  border: none;
  color: #fff;
  font-weight:bold;
  text-transform: uppercase;
  line-height:1.6em;
  text-align: center;
  box-shadow: 3px 3px 0px 2px #dadada;
  width: 100%;
  height: 45px;
  margin-bottom:15px;
}

.btn:hover{
  background-color: #b21;
}

.sidebar-faq .btn, .sidebar-upcoming .btn {
  background-color: #b21e49;
}

img{
  width: 100%;
}

/* Header */
.main-header{
  width: 100%;
  margin: auto;
  background-color: #dddddd;
}

#logo{
  width: 100%;
  margin: auto;
}

nav {
  width: 100%;
}

nav ul{
  margin-top: 0;
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  border-bottom: 2px solid darkgray;
  padding: 15px 0;
}

nav ul li a{
  text-transform: uppercase;
  color: #222222;
  font-weight: 900;
}

/* Main-Content */

#main-content {
  width: 94%;
  padding: 0 3%;
}
/* Home and Reviews Page*/
.hero-area{
  width: 100%;
}

.top-story{
  width: 100%;
  border-bottom: 2px solid darkgray;;
}

.top-img{
  width: 100%;
  margin: auto;
}

.top-info h1{
  font-size: 1.32em;
}



/* SIDEBAR */
.sidebar {
  width: 100%;
  border-bottom: 2px solid darkgray;;
}

.sidebar .newsletter-signup{
  padding-bottom: 20px;
}

.sidebar h2, .feed h2{
  font-size: 1.2em;
}

.sidebar input:first-of-type{
  color: black;
  background-color: white;
  box-shadow: inset 0 0 0px 3px #dadada;
}

.sidebar-upcoming, .sidebar-faq {
  display: none;
}

/* FEED*/
.feed{
  width: 100%;
  margin: 1em auto;
}
.feed-item{
  overflow: auto;
  border-bottom: 2px solid darkgray;
  padding-bottom:40px;
}

.feed-item h3{
  font-size: 1em;
}

.feed-item:first-of-type h3{
  margin-top: 0px;
}

.feed-img{
  float: left;
  width: 44%;
  margin: auto;
  border: 2px solid darkgray;
}

.feed-info{
  width: 55%;
  float: left;
}

.feed-info h2{
  font-size: 1.1em;
  margin: 0 0 0 10%;
}

.feed-info h2 a {
  color: black;
}

.feed-item p{
  display: none;
}


/*Detail pages*/

.det-ha{
  margin: 1em auto;
}

.author-title, .story-date{
  float: left;
  width: 30%;
}

.author-title p, .story-date p{
  font-size: .8em;
}

.author-title p{
  width: 80%;
  border-right: 2px solid black;
}

.article-by-line{
  clear: both;
}

.article-by-line p{
  font-size: 1.09em;
  line-height: 1.2em;
}

/* Footer */
footer{
  width: 100%;
  margin: auto;
}

#footer-logo{
  width: 48%;
  margin: auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 768px){ /* Tablet Styles */
  /*Header*/
  .main-header{
    width:94%;
  }

  #logo {
    width: 40%;
    float:left;
  }
  nav {
    width: 60%;
    float:right;
  }

  /*HERO AREA*/
  .top-story{
    clear: both;
  }
  .top-img{
    width: 57%;
    float: left;
  }

  .top-info {
    width: 37%;
    float: left;
  }

  /*Sidebar*/

  .sidebar{
    clear: both;
    float: right;
    width: 37%;
  }

  .sidebar-upcoming, .sidebar-faq{
    display: block;
  }

  /*Feed*/

  .feed {
    width: 60%;
    float: left;
  }

  .feed-img{
    width: 30%;
  }

  /*Footer*/
  footer{
    clear: both;
  }
  #footer-logo{
    width: 30%;
  }

  /*Detail Pages*/

  .det-img{
    width: 50%;
  }

  .det-info{
  width: 50%;
    float: right;
  }

  .det-content{
    clear: both;
  }

  aside.detail{
    width: 100%;
  }

  .detail .newsletter h2{
    display:inline;
  }
  .detail .newsletter input{
    display:inline;
  }
}

@media screen and (min-width: 940px){
/* DESKTOP STYLES HERE */
  /*Hero Area*/
  .top-story{
    width: 60%;
    float: left;
  }
  .top-img, .top-info{
    width: 100%;
  }
  /*Sidebar*/
  .sidebar{
    clear: none;
  }

  /*feed*/

  .feed{
    clear: both;
    width: 100%;
    float: none;
  }

  .feed-info{
    width: 65%;

  }
  .feed-info p {
    display: block;
  }

  /*Detail Pages*/
  aside.detail{
    width: 37%;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important; /* Black prints faster:
                                 http://www.sanbeiji.com/archives/953 */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }

    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
}
