/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Global*/
html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body, html{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #eeeeee;
}

a{
  font-weight: bold;
  color: #23a4cc;
  text-decoration: none;
}

p{
  font-size: 1rem;
  line-height: 1.4rem;
}

p span{
  font-weight: bold;
}

h1{
  font-size: 2.3rem;
}

h2{
  font-size: 1.9rem;
}

h3{
  font-size: 1.45rem;
}

.btn{
  background-color: #ff1256;
  border: none;
  color: #fff;
  font-weight:bold;
  text-transform: uppercase;
  line-height:1.6em;
  text-align: center;
  box-shadow: 1px 1px 0px 2px #dadada;
  width: 100%;
  height: 45px;
  margin-bottom:15px;
}

.btn:hover{
  background-color: #b21;
}

img{
  width: 100%;
}

/* Header */
.main-header{
  max-width: 940px;
  width: 100%;
  margin: auto;
  background-color: #dddddd;
}

#logo{
  width: 100%;
  margin: auto;
}

nav {
  width: 100%;
}

nav ul{
  margin-top: 0 ;
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  border-bottom: 2px solid darkgray;
  padding: 15px 0;
}

nav ul li a{
  text-transform: uppercase;
  color: #222222;
}

/* Main-Content */

#main-content {
  overflow: auto;
  width: 94%;
  margin: auto;
  padding: 0 3%;
  max-width: 940px;
}
/* Home and Reviews Page*/
.hero-area{
  width: 100%;
}

.top-story{
  width: 100%;
  border-bottom: 2px solid darkgray;;
}

.top-img{
  width: 100%;
  margin: auto;
}

.top-info h1{
  font-size: 1.32em;
}



/* SIDEBAR */
.sidebar {
  width: 100%;
  border-bottom: 2px solid darkgray;;
}

.sidebar .newsletter-signup{
  padding-bottom: 20px;
}

.sidebar h2, .feed h2{
  font-size: 1.2em;
}

.sidebar input:nth-child(1){
  color: black;
  background-color: white;
  box-shadow: inset 0 0 0px 3px #dadada;
}

.sidebar-upcoming, .sidebar-faq {
  display: none;
}

/* FEED*/
.feed{
  width: 100%;
  margin: 1em auto;
}

.feed-item{
  overflow: auto;
  border-bottom: 2px solid darkgray;
  padding-bottom:40px;
}

.feed-item h3{
  font-size: 1em;
}

.feed-item:first-of-type h3{
  margin-top: 0px;
}

.feed-img{
  float: left;
  width: 44%;
  margin: auto;
  border: 2px solid darkgray;
}

.feed-info{
  width: 55%;
  float: left;
}

.feed-info h2{
  font-size: 1.1em;
  margin: 0 0 0 10%;
}

.feed-info h2 a {
  color: black;
}

.feed-item p{
  display: none;
}


/*Detail pages*/

.det-ha{
  margin: 1em auto;
}

.author-title, .story-date{
  float: left;
  width: 30%;
}

.author-title p, .story-date p{
  font-size: .8em;
}

.author-title p{
  width: 80%;
  border-right: 2px solid black;
}

.article-by-line{
  clear: both;
}

.article-by-line p{
  font-size: 1.09em;
  line-height: 1.2em;
}

/*ABOUT PAGE ============*/
.contact-info p:last-child{
  margin-left:70px;
  margin-top: 0;
}
.map-cont{
  margin-top: 1em;
  margin-bottom:2em;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  border: 1px solid black;
}

.map-cont iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mission h1, .contact-info h1{
  font-size: 1.35em;
}

.mission p, .contact-info p{
  font-size: .9em;
  margin-bottom: 0;
}

.team h1{
  font-size: 1.35em;
}

.team-member{
  margin: 30px auto;
}

.team-img{
  width: 40%;
  padding-bottom: 40%;
  float: left;
  margin-right: 30px;
  border: 1px solid #ccc;
}

#team-img-jack{
  background: #333 url("../img/jack-smith.jpg") no-repeat center ;
  background-size: cover;
}

#team-img-lana{
  background: #333 url("../img/lana-walker.jpg") no-repeat center ;
  background-size: cover;
}

#team-img-willow{
  background: #333 url("../img/willow-white.jpg") no-repeat center ;
  background-size: cover;
}

.team-name{
  font-size: 1em;
  margin-bottom:0;
}

.team-title{
  font-size: .9em;
  margin: 0;
}

.team-description{
  display: none;
}

/*CONCERTS PAGE*/

.concert-feed{
  overflow: hidden;
  width: 100%;
}

.concert-item{
  width: 100%;
  margin: 27px 2% 0 2%;
  overflow: inherit;
  border-bottom: 1px solid #cfcacb;
}
.concert-date{
  float: left;
  width: 20%;
  padding-bottom: 20%;
  border:2px solid #cfcacb;
  position: relative;
  height: 0;
  overflow: hidden;
}

.concert-date h2{
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.concert-info{
  float: right;
  width: 70%;
  margin-right: 2.25%;
  padding-right:2.5%;
}

.concert-info h3{
  font-size:1.2em;
  margin: 0;
  line-height: 1.5rem;
}

.concert-info p{
  margin-top: 0;
}

.concert-info .btn{
  background-color: #b21e49;
}

.concert-side-bar {
  display: none;
}

/*FAQ PAGE========*/

.faq-feed{
  margin: 2em auto;
}

.faq-feed h1{
  font-size: 1.5em;
}

.question-item{
  border-bottom: 1px solid darkgray;
}

.question-header h2{
  font-size: 1.25em;
}

.question-body p, .question-footer p{
  font-size: .9em;
}

/* Footer */
footer{
  width: 100%;
  margin: auto;
}

#footer-logo{
  width: 48%;
  margin: auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {
  /*Header*/
  .main-header{
    overflow: hidden;
  }

  #logo {
    width: 40%;
    margin: auto auto auto 2%;
    float:left;
  }
  nav {
    width: 58%;
    float:right;
  }

  nav ul li{
    float: left;
    padding: 30px 0 30px 15px;
    border:none;
  }
  /*HERO AREA*/
  .top-story{
    overflow: hidden;
    padding: 5% 0;
  }
  .top-img{
    width: 57%;
    float: left;
    border: 2px solid black;
  }

  .top-info {
    width: 37%;
    padding-left: 5%;
    float: left;
  }

  /*Sidebar*/

  .sidebar{
    clear: both;
    float: right;
    width: 39.7%;
    border: none;
  }

  .newsletter, .sidebar-upcoming, .sidebar-faq{
    width: 90%;
    padding-left: 3%;
    display: block;
    border-bottom: 2px solid darkgray;
  }

  .sidebar-form button:nth-child(1){
    background-color: #b21e49;
  }

  /*Feed*/

  .feed {
    width: 60%;
    float: left;
    margin: auto;
    border-right:2px solid darkgray;
  }

  .feed-item:last-child{
    border-bottom:none;
  }

  .feed-img{
    width: 30%;
  }

  /*Footer*/
  footer{
    margin-top: 20px;
    padding-top:20px;
    border-top:2px solid darkgray;
    clear: both;
  }
  #footer-logo{
    width: 30%;
  }

  /*Detail Pages*/

  .det-img{
    width: 50%;
  }

  .det-info{
    width: 45%;
    float: right;
    padding: 0;
  }

  .det-content{
    clear: both;
    padding-top: 10px;
  }

  .author-title p{
    width: 90%;
  }

  aside.detail{
    width: 100%;
  }

  /*ABOUT PAGE ========*/
  .contact-info{
    float: left;
    width: 40%;
  }
  .contact-info p{
    font-size: 1em;
  }

  .map-cont, .contact-info{
    margin-top:40px;
  }
  .map-cont{
    padding-bottom: 50%;
  }

  .mission{
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding: 25px 0;
  }

  .mission h1, .contact-info h1{
    font-size: 1.5em;
    margin: 0;
  }

  .mission p{
    margin: 20px 0;
    line-height: 24px;
  }

  .team-img{
    width: 20%;
    padding-bottom: 20%;
    margin-right: 10%;
  }

  /*CONCERTS PAGE=========*/

  .concert-item{
    width: 45%;
    float: left;
  }

}

@media screen and (min-width: 940px){
  /* DESKTOP STYLES HERE */
  /*HEADER*/
  nav ul{
    float: right;
    margin: 0;
  }
  nav ul li{
    padding: 40px 15px;
  }
  /*Hero Area*/
  .hero-area{
    overflow: auto;
    border-bottom:2px solid darkgray;
  }

  .top-story{
    width: 63%;
    float: left;
    border: none;
  }

  .top-img, .top-info{
    width: 98%;
    padding: 0;
  }

  .top-info h1{
    font-size: 2em;
  }

  /*Sidebar*/
  .sidebar{
    clear: none;
    width: 35%;
    margin-top: 3%;
    border-left:2px solid darkgray;
  }
  .sidebar div{
    padding: 5%;
  }
  .sidebar h2{
    font-size:1.6em;
  }

  .sidebar-faq{
    border: none;
  }

  /*feed*/

  .feed{
    margin-top: 40px;
    clear: both;
    width: 100%;
    float: none;
    border-right:none;
  }

  .feed-info{
    width: 65%;
    float: right;

  }

  .feed-info h2{
    margin: auto;
    font-size: 1.3em;
  }

  .feed-info p {
    display: block;
  }

  /*Detail Pages*/

  .det-ha{
    border: none;
  }

  .det-story{
    border-right: 1px solid darkgray;
    width: 60.5%;
    padding-right: 3%;
  }

  .det-info{
    float: left;
  }

  aside.detail{
    width: 36%;
    float: left;
    border: none;
  }

  /*ABOUT PAGE ======*/
  .contact-info p{
    font-size: 1.4em;
  }
  .mission h1{
    font-size: 1.9em;
  }

  .mission p{
    font-size: 1em;
  }

  .team h1, .contact-info h1{
    font-size: 1.95em;
  }

  .team-img{
    margin-right: 30px;
  }
  .team-name{
    font-size: 1.4em;
    margin: 0;
  }

  .team-title{
    font-size: 1em;
  }

  .team-description{
    display: block;
    margin: 20px 0;
  }

  /*CONCERTS PAGE==========*/

  .concert-feed{
    width: 70%;
    margin-top: 3%;
    border-right:1px solid #cfcacb;
  }

  .concert-date{
    width: 25%;
    padding-bottom: 25%;
  }

  .concert-info{
    margin-right: auto;
    padding-right: 0;
  }

  .concert-side-bar{
    display: block;
    border-left: none;
    margin-top: 60px;
    width: 30%;
    border-bottom: 1px solid #cfcacb;
  }
  .concert-side-bar .newsletter{
    margin: auto;
    padding: 0;
    border-bottom: none;

  }
  .concert-side-bar .newsletter h2{
    margin-top: 0;
  }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
