# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

.idea/
*desktop.ini

#COMMENTED OUT:
#         Originially contained with .gitignore supplied by the boilerplate
#         Commented out because the decision was made to ignore only what must
#         be ignored or what breaks the repo
#         IE: including the desktop.ini files broke the repo,
#             making it impossible to commit changes
#doc/
#favicon.ico
#humans.txt
#icon.png
#robots.txt
#site.webmanifest
#tile-wide.png
#tile.png
#browserconfig.xml
#404.html
#LICENSE.txt
#.editorconfig #Did not ignore because it may be useful when working on
#               different machines that don't include the same rules, specifically tab spacing rules
#.gitattributes
#.gitignore
#.htaccess
